<div class='row'>
  <div class='col-sm-4 bg-light'>
    <h3>Cities in {{ province }}, {{ countryName }}</h3>
    <input type='text' class='form-control mb-3' (keyup)="searchTextChange($event)" name='searchText' placeholder='Type City name to filter' />
    <div *ngFor="let city of cities | caseInsensitiveFilter: searchText">
      <p class='small mx-3'>
        {{ city }}
      </p>
    </div>
  </div>
  <div class='col-sm-8'>
    <h2 class='text-center'>{{ countryName }}, {{ province }}</h2>
    <div class='text-center mx-auto' style='max-width: 300px;'>
      <h4 *ngIf="capital">Capital City: {{ capital }}</h4>
      <img *ngIf="flagUrl" src="{{ flagUrl }}" alt="{{ countryName }}" width="300" />
    </div>
  </div>
</div>